doctype
html
	head
		title Not found
		link(rel="stylesheet",type="text/css",href="/public/global.css")
		script(src="//localhost:35729/livereload.js")
	body
		h1 FOUR - OH - FOUR !!!
		h2 Oops that's an error <span class="error">(404)</span>
		p
		p The page: <em class="error path"> #{path} </em> is not available
		h3 Click <a href="/">here</a> to go homepage