#home-view
	h1 This app is built with
	//- html&&css3&&JS
	div.card
		div
			img(src="/public/images/html5.jpg")
		div
			h3.tool HTML5
			ul
				li Newest edition of the HTML standard
				li New semantic elements
				li New APIs
				li Use of CSS3
				li: a(target="_blank",href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Introduction_to_HTML5") Html MDN 
	div.card
		div
			img(src="/public/images/js.png")
		div
			h3.tool JavaScript
			ul
				li Multiparadigm scripting language
				li Prototypical inheritance
				li Loosely typed
				li <em>Also server-side</em>
				li: a(target="_blank",href="http://en.wikipedia.org/wiki/JavaScript") Learn more
	div.card
		div
			img(src="/public/images/css.jpg")
		div
			h3.tool CSS3
			ul
				li Styles
				li Animations&amp;Transisitons
				li Gradients&amp;Shadows
				li Awesome fonts
				li: a(target="_blank",href="http://www.w3schools.com/css/css3_intro.asp") Lot more...
	div.card
		div
			img(src="/public/images/AngularJS.jpg")
		div
			h3.tool AngularJS
			ul
				li SuperHeroic JS framework
				li <strong>MVW</strong> pattern
				li Declarative markup
				li Dependency injection
				li: a(target="_blank",href="https://angularjs.org") angularjs.org 
	div.card
		div
			img(src="/public/images/BloodSweatTears.jpg")
		div
			h3.tool Daniel Garcia
			ul
				li: a(target="_blank",href="mailto:danielgard@gmail.com") danielgard@gmail.com 
				li: a(target="_blank",href="https://github.com/danielgard85") Github
	div.card
		div
			img(src="/public/images/nodejs.png")
		div
			h3.tool NodeJs
			ul.scroll-me
				li Server-side Js
				li Non-blocking I/O
				li npm
				li: a(target="_blank",href="http://nodejs.org") nodejs.org
				li Using modules:
				li: pre 'express' 
				li: pre 'socket.io' 
				li: pre 'mongoose' 
				li: pre 'bcrypt' 
				li: pre 'grunt-contrib-watch' 
				li: pre 'grunt-contrib-less' 
				li: pre 'grunt-contrib-concat' 
				li: pre 'grunt-contrib-uglify' 
	div.card
		div
			img(src="/public/images/mongodb.png")
		div
			h3.tool MongoDB
			pre   {
				|    "name":"mongo",
				|    "type":"db",
				|    "model":"document",
				|    "site":"<a target="_blank" href="//www.mongodb.org">www.mongodb.org</a>"
				|                             }
	div.card
		div
			img(src="/public/images/express.png")
		div
			h3.tool express.js
			ul
				li Fast, unopinionated, 
				li minimalist web framework
				li for Node.js
				li: a(target="_blank",href="//expressjs.com") expressjs.com
	div.card
		div
			img(src="/public/images/socketio.png")
		div
			h3.tool socket.io
			ul
				li The fastest and
				li reliable real-time engine
				li Bidirectional event communication
				li: a(target="_blank",href="//socket.io") socket.io
	div.card
		div
			img(src="/public/images/grunt.png")
		div
			h3.tool Grunt
			ul
				li The JavaScript task runner
				li The less work,
				li the easier your job!
				li: a(target="_blank",href="//gruntjs.com") gruntjs.com
	div.card
		div
			img(src="/public/images/jade.jpg")
		div
			h3.tool jade
			ul
				li Node template engine
				li Jade is a terse and simple
				li templating language
				li: a(target="_blank",href="//jade-lang.com") jade-lang.com

	div.card
		div
			img(src="/public/images/less.jpg")
		div
			h3.tool less
			ul
				li LESS is More...
				li CSS preprocessor
				li Variables
				li Mixins
				li Functions
				li: a(target="_blank",href="//lesscss.org") lesscss.org